<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <context-param>
  	<param-name>usuario</param-name>
  	<param-value>ProyectoSamuelMartin</param-value>
  </context-param>
  <context-param>
  	<param-name>password</param-name>
  	<param-value>ProyectoSamuelMartin</param-value>
  </context-param>
  <context-param>
  	<param-name>database</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
  </context-param>
  <context-param>
  	<param-name>driver</param-name>
  	<param-value>oracle.jdbc.driver.OracleDriver</param-value>
  </context-param>
  <servlet>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<display-name>ValidarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.ValidarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<display-name>RegistrarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.RegistrarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>registrarUsuario</servlet-name>
  	<display-name>registrarUsuario</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.registrarUsuario</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegistrarUsu</servlet-name>
  	<display-name>RegistrarUsu</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.RegistrarUsu</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Desconectar</servlet-name>
  	<display-name>Desconectar</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.Desconectar</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrarCliente</servlet-name>
  	<display-name>BorrarCliente</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.BorrarCliente</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>altacliente</servlet-name>
  	<display-name>altacliente</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.altacliente</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>modificarvehiculo</servlet-name>
  	<display-name>modificarvehiculo</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.modificarvehiculo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>altaventa</servlet-name>
  	<display-name>altaventa</display-name>
  	<description></description>
  	<servlet-class>es.cj.controller.altaventa</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ValidarUsuario</servlet-name>
  	<url-pattern>/ValidarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarUsuario</servlet-name>
  	<url-pattern>/RegistrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>registrarUsuario</servlet-name>
  	<url-pattern>/registrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegistrarUsu</servlet-name>
  	<url-pattern>/RegistrarUsu</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Desconectar</servlet-name>
  	<url-pattern>/Desconectar</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrarCliente</servlet-name>
  	<url-pattern>/BorrarCliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>altacliente</servlet-name>
  	<url-pattern>/altacliente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>modificarvehiculo</servlet-name>
  	<url-pattern>/modificarvehiculo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>altaventa</servlet-name>
  	<url-pattern>/altaventa</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  	<welcome-file>index.html</welcome-file>
  	<welcome-file>index.htm</welcome-file>
  </welcome-file-list>
</web-app>